@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'levenim_mtregular';
    src: url('../fonts/lvnm_0-webfont.eot');
    src: url('../fonts/lvnm_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lvnm_0-webfont.woff') format('woff'),
         url('../fonts/lvnm_0-webfont.ttf') format('truetype'),
         url('../fonts/lvnm_0-webfont.svg#levenim_mtregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family:'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold_gdi.eot');
	src: url('../fonts/MyriadPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MyriadPro-Bold_gdi.woff') format('woff'),
		url('../fonts/MyriadPro-Bold_gdi.ttf') format('truetype'),
		url('../fonts/MyriadPro-Bold_gdi.svg#MyriadPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}


@font-face {
    font-family: 'levenim_mtbold';
    src: url('../fonts/lvnmbd_0-webfont.eot');
    src: url('../fonts/lvnmbd_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lvnmbd_0-webfont.woff') format('woff'),
         url('../fonts/lvnmbd_0-webfont.ttf') format('truetype'),
         url('../fonts/lvnmbd_0-webfont.svg#levenim_mtbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
header, footer, aside, nav, section, h1, h2, h3, h4, h5, h6, p, body, html {
	margin: 0;
	padding: 0;
}
header, footer, aside, nav, section {
	display: block;
}
ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	border: 0;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
	color: #fff;
    font-family: 'levenim_mtbold';
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
img {
	border: none;
}
p {
	color: #5e5d5d;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
}
.clear {
	font-size: 0;
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clearfix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	font-size: 0;
}
.center {
	text-align: center;
}
*html .clearfix {
	height: 1%;
}
*+html .clearfix {
	display: inline-block;
}
/*== Home Page Css starts here ==*/
body {
	font-family: 'open_sanslight';
}
#main-container {
	width: 100%;
	margin: 0;
	padding: 0;
}
#wrapper {
	margin: 0 auto;
	max-width: 1100px;
	width: 96%;
}
.inner {
	margin: 0 auto;
	max-width: 1100px;
	width: 96%;
	
}
span {
	font-family: 'FontAwesome';
	font-size: 22px;
	margin-right: 5px;
}
/*== Home Page Css starts here ==*/

/*== Header Css starts here ==*/
.header {
	margin: 0;
	padding: 0;
	overflow:hidden;
	width: 100%;
}
.logo h1
{
	color:#fff !important;
	padding:0px !important;
	background:none !important;
	margin:0 !important;
    font-family: 'levenim_mtbold';
}
.header
{
	background:#35c341;
	padding:20px 0;
}
.logo {
	padding: 10px 0 0 0;
}
/*== Header Css ends here ==*/


/*== Nav Css Starts here ==*/
.nav {
  background: #f3f3f3 none repeat scroll 0 0;
  margin: -4px 0 0 0;
  overflow: hidden;
  padding: 0;
  border-bottom:1px solid #dadada;
}
.nav ul {
	list-style: none;
	padding: 0;
}
.nav ul li {
	float: left;
	margin: 0;
	padding: 10px 30px;
		text-align:center;
	transition:all 0.4s ease-in-out;
  border-right:1px solid #dadada;

}
.nav ul li a {
	font-family:"Myriad Pro";
	font-size: 22px;
	color: #808080;
	text-transform:uppercase;
}
.nav ul li span
{

}
.nav ul li:hover, .nav ul li.active {
	background: #03b521;
	color:#fff;
}
 .nav ul li a.active {
	background: #03b521;
	color:#fff;
 }
.nav ul li:hover a, .nav ul li a.active {
	color:#fff !important;
}
/*== Nav Css Ends here ==*/
/*== Banner Css Starts here ==*/
.banner {
	margin: 0;
	padding: 0;
	position: relative;
}
.banner-content {
	position: absolute;
	color: #fff;
	text-align: center;
	top: 30%;
	width: 100%;
}

.search-bar {
  background: #fff none repeat scroll 0 0;
  border: 3px solid #9dc92e;
  box-shadow: 3px 2px 4px #ccc;
  height: 40px;
  margin: 22px auto;
  width: 55%;
}
.search-bar-box {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 0;
}
.search
{
	float:left;
	border:2px solid #35c341;
	width:48%;
	height:50px;
	background:#fff;
	margin-right:1%;
	float:left;
}
.search input[type="text"]
{
	background:#fff;
	border:none;
	float:left;
	float:right;
	width:81%;
	font-family:"Myriad Pro";
	text-transform:uppercase;
	font-size:24px;
	color:#8b8b8b;
	line-height:49px;
	padding: 0 1%;
}
.search-button span
{
	font-size:32px;
}
.search-button {
  background: #03b521 none repeat scroll 0 0;
  cursor: pointer;
  float: left;
  padding:11px 0;
  width: 14%;
}
.banner-content h2 {
	font-size: 44px;
	text-transform: uppercase;
  text-shadow: 3px 2px 4px #333;
    font-family: 'levenim_mtbold';
}
.buttons .signup
{
	border:2px solid #fff;
	background:none;
	border-radius:4px;
	color:#fff;
	padding:5px 15px;
	font-family:"Myriad Pro";
	text-transform:uppercase;
	margin-right:5px;
}
.banner > img {
	width: 100%;
}

/*== Banner Css Ends here ==*/

/*== how-it-works Section Satrts here ==*/
.how-it-works
{
	padding:20px 0;
}
.inner h1
{
	background:url(../images/border.png) no-repeat center bottom;
	color:#35c341;
	font-size:30px;
	text-transform:uppercase;
	text-align:center;
	font-family: 'levenim_mtbold';
	margin-bottom:20px;

}

.inner h1 span
{
	font-family: 'levenim_mtregular';
	color:#464646;
	font-size:30px;
}
.circles
{
	padding:20px 0;
	overflow:hidden;
}
.three-circles h3
{
	text-transform:uppercase;
	font-size:26px;
	color:#373e38;
		padding-top:20px;
		font-family: 'levenim_mtbold';
}
.three-circles p
{
	text-transform:inherit;
	font-size:16px;
	line-height:22px;
	color:#373e38;
	padding:10px 0;
		font-family:"Myriad Pro";
}
.three-circles p a
{
	text-transform:inherit;
	font-size:16px;
	text-decoration:underline;
	line-height:22px;
	color:#35c341 ;
	font-family:'MyriadPro-Bold';
}
.three-circles {
  float: left;
  margin-right: 4%;
  text-align: center;
  width: 30.5%;
}

.three-circles:last-child
{
	margin-right:0px;
}
.icon-circle
{
	height:140px;
	margin:0 auto;
	width:140px;
	cursor:pointer;
	border-radius:50%;
	background:#35c341;
	text-align:center;
	border:3px solid #22a92e;
	vertical-align:middle;
}
.icon-circle span {
  color: #fff;
  font-size: 54px;
  line-height: 137px;
}
/*== how-it-works Section Ends here ==*/


/*== testimonial css starts here ==*/
.testimonial
{
	background:#f3f3f3;
	padding:40px 0;
	position:relative;
	text-align:center;
}
.testimonial p
{
	text-transform:inherit;
	font-size:18px;
	line-height:22px;
	color:#373e38;
	padding:20px 0;
	font-family:"Myriad Pro";
}
.testimonial p a 
{
	text-transform:uppercase;
	font-size:18px;
	line-height:22px;
	color:#35c341;
	padding:10px 0;
	font-family:"Myriad Pro";
}

/*newsletter ==*/
.newsletter
{
	padding:20px 0 40px 0;
	overflow:hidden;
}
.newsletter h3
{
	color:#555;
	font-size:24px;
	font-family:"Myriad Pro";
	float:left;
	text-transform:uppercase;
	padding-top:5px;
	padding-right:10px;
}

.newsletter input[type="text"]
{
	background:#fff;
	border:none;
	float:left;
	width:26%;
	line-height:25px;
	padding:0.7% 1%;
	color:#ccc;
	border:1px solid #ccc;
	border-radius:4px;
	margin-right:1%;
}
.newsletter input[type="submit"]
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#35c341+0,20ac2c+100 */
background: #35c341; /* Old browsers */
background: -moz-linear-gradient(top, #35c341 0%, #20ac2c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35c341), color-stop(100%,#20ac2c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #35c341 0%,#20ac2c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #35c341 0%,#20ac2c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #35c341 0%,#20ac2c 100%); /* IE10+ */
background: linear-gradient(to bottom, #35c341 0%,#20ac2c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c341', endColorstr='#20ac2c',GradientType=0 ); /* IE6-9 */	border:none;
	font-size:20px;
	float:left;
	width:16%;
	border-radius:4px;
	cursor:pointer;
	color:#fff;
	text-transform:uppercase;
	line-height:30px;
	padding:5px 5px;
	font-family:"Myriad Pro";
}
.logo-panel a
{
	padding-left:5px;
}
/*= feature blog css ==*/
/*= footer blog css ==*/
.footer
{
	background:url(../images/footer-bg.png) repeat;
	padding:20px 0 0 0px;
	margin:20px 0 0 0;
	overflow:hidden;
}
.inner-footer
{
	margin:0 auto;
	width:91%;
	max-width:1100px;
	position:relative;
}

.inner-footer .lft-con {
    float: left;
    margin-right:5%;
    width: 21%;
}
.inner-footer .lft-con2
{
	float:left;
	width:43%;
	margin-right:3%;
}

.inner-footer .lft-con:last-child
{
	margin-right:0px;
}
.inner-footer .lft-con h1
{
	font-family: 'levenim_mtregular';
	color:#fff;
	margin:0;
	padding:0px 0px;
	font-weight:normal;
	float:left;
	font-size:30px;
}
.lft-con ul
{
	margin:0;
	padding:10px 0 0 0;
	list-style:none;
	clear:both;
}
.lft-con ul li
{
	float:left;
	line-height:24px;
	font-family: 'levenim_mtbold';
	color:#fff;
	clear:both;
	width:100%;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.lft-con ul li a
{
	float:left;
	font-size:18px;
	font-family: 'levenim_mtbold';
	color:#fff;
}
.inner-footer .lft-con2 h1
{
	font-family: 'levenim_mtregular';
	color:#fff;
	margin:0;
	padding:0px 0px;
	font-weight:normal;
	float:left;
	font-size:30px;
}
.inner-footer .lft-con2 h1 span
{
	font-family: 'levenim_mtbold';
}

.inner-footer .lft-con h1 span
{
	font-family: 'levenim_mtbold';
}
.iphone img
{
	margin:20px 0 0 0;
	width:100%;
	max-width:224px;
}
.inner-footer .lft-con2 input[type="text"]{
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #555555;
    border-radius: 20px;
    clear: both;
    color: #615F5F;
    float: left;
    font-family: "Levenim MT";
    font-size: 11px;
    margin-bottom: 8px;
    padding: 6px 10px;
    width: 180px;
}
.inner-footer .lft-con2 textarea {
    background: none repeat scroll 0 0 #292929;
    border: 1px solid #555555;
    border-radius: 20px;
    clear: none;
    color: #615F5F;
    float: left;
    font-family: "Levenim MT";
    font-size: 11px;
    height: 136px;
    margin-bottom: 8px;
    margin-left: 10px;
    padding: 6px 10px;
    resize: none;
    width: 175px;
}
.footer-input-cont {
    float: left;
}
.footer-form-cont {
    float: left;
 margin: 13px 0 0;
    padding-bottom: 10px;}
.send {
    background:background: background: #f37235; /* Old browsers */
	background: -moz-linear-gradient(top, #f37235 0%, #eb520a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f37235), color-stop(100%,#eb520a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f37235 0%,#eb520a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f37235 0%,#eb520a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f37235 0%,#eb520a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f37235 0%,#eb520a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37235', endColorstr='#eb520a',GradientType=0 ) !important; /* IE6-9 */
    border-radius: 10px!important;
    color: #FFFFFF!important;
    cursor: pointer!important;
    float: right!important;
    font-family: "Levenim MT"!important;
    font-size: 15px!important;
    margin-top: 7px!important;
    padding:2px 20px!important;
    text-align: center;
	border:none;
	margin-right:10px;
    text-transform: capitalize;
}
.send:hover
{
	opacity:0.7;
}
.s-icons
{
	padding:20px 15px 0 0;
	margin:0;
	float:right;
}

.ico
{
	float:left;
	padding:0px 6px;
}
.inner-footer .lft-con h2
{
	font-family: 'levenim_mtregular';
	color:#fff;
	border-top:1px solid #636363;
	border-bottom:1px solid #636363;
	margin:20px 0px;
	padding:5px 0px;
	font-weight:normal;
	float:right;
	font-size:18px;
}
.inner-footer .lft-con h2 span
{
	font-size:22px;
}
.inner-footer .lft-con h5
{
	font-family:"Myriad Pro";
	color:#fff;
	margin:0;
	padding:40px 0 0 0px;
	font-weight:normal;
	float:right;
	font-size:14px;
}
.bottom
{
	margin:0 auto;
	width:91%;
	padding:5px 0px 8px 0px;
	max-width:1100px;
}
.bottom ul
{
	float:left;
	list-style:none;
	margin:0;
	padding:6px 0px;
}
.bottom ul li
{
	font-family: "levenim_mtregular";
	color:#777;
	margin:0;
	float:left;
	font-weight:normal;
	float:left;
	padding:0px 2px;
	font-size:13px;
}
.bottom ul li a
{
	font-family: "levenim_mtregular";
	color:#777;
	text-decoration:none;
	
}
.bottom ul li a:hover,
.bottom ul li a.active
{
	color:#35c341;;
}
.bottom > p{font-family: "levenim_mtrehular";
	color:#fff;
	margin:0;
	float:left;
	font-weight:normal;
	float:right;
	font-size:13px;}
.bottom > p a
{
	color:#fff;

}
.bottom p a:hover
{
	color:#ff850a;
}

.toggle
{
	display:none;
}
.logo-panel {
  display: inline-block;
  text-align: center;
}

/*== footer css ends ==*/
/*== choose cook css starts ==*/
.sidebar
{	
	background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #f5f3f3;
    float: left;
    margin-bottom: 20px;
    margin-right: 2%;
    width: 25	%;
}
.sidebar h3
{
	 background: #f7f7f7;
	 padding:8px 10px;
	 color:#666;
	 border-bottom:1px solid #eaeaea;
	 font-size:20px;
	 text-transform:uppercase;
	 font-family:'MyriadPro-Bold';
}
.padding-top
{
	padding:20px 0;
}
.select
{
	background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #f5f3f3;
	text-align:center;
	width:280px;
	text-align:center;
	margin:20px auto;
	overflow:hidden;
	padding:0;

}
.select li
{
	float:left;
	list-style:none;
	padding:10px;
	text-align:center;
	 border-right:1px solid #ccc;

}
.select li:last-child
{
	border-right:none !important;
}
.select li.active
{
	background:#333 none repeat scroll 0 0;
	color:#fff;
}
.select li a.active
{
	background:#333 none repeat scroll 0 0;
	color:#fff;
}
.select li a
{
	color:#666;
	 font-size:15px;
	 padding:0 10px;
	 text-transform:uppercase;
	 font-family:'MyriadPro-Bold';
}
progress
{
	width:90%;
	margin:10px 5%;
	
}
.spl-food {
  margin: 0;
  color:#777;
	 font-family:'MyriadPro-Bold';
  padding: 15px;
}
.cook-panel-main {
  float: right;
  width: 72%;
  text-align: center;
}
.cook-panel > img {
  width: 100%;
}
.cook-panel .select {
  width: auto;
  float:left;
}
.cook-panel h4 {
  background: #f4f4f4 none repeat scroll 0 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #35c341;
  font-family: "MyriadPro-Bold";
  font-size: 22px;
}
.cook-panel p {
  color: #84867f;
  font-family:"Myriad Pro";
  font-size: 17px;
  line-height: 30px;
  text-transform: none;
}
.cook-panel {
  background: #fdfdfd none repeat scroll 0 0;
  border: 1px solid #f5f3f3;
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  padding: 1.5%;
  width: 28%;
}
.view-pro {
  background: #35c341 none repeat scroll 0 0;
  border-bottom: 2px solid #90b82c;
  color: #fff;
  border:none;
  cursor: pointer;
  font-family:"Myriad Pro";
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 10px;
}
/*== choose cook css ends ==*/

/*== media css starts ==*/
@media only screen and (max-width:1200px)
{
.banner-content h1 {
  font-size: 33px;
}
.banner-content h2 {
  font-size: 24px;
}
.banner-content p {
  font-size: 14px;
  padding: 0;
}
.view {
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 20px;
}
.dots {
  margin-top: 5px;
    padding: 0;
}
.logo.center img {
  width: 100%;
}
}


@media only screen and (max-width:1100px)
{
		.toggle
	{
	display:block;
	color:#333;
	padding:5px 10px;
	background: #f5f4f4 none repeat scroll 0 0;
    border-bottom: 1px solid #dfdcdc;
	}
	.nav
	{
	display:none;
	}
	.nav ul li {
	  float: none;
}
	.nav .inner {
  margin: 0 auto;
  max-width: 1160px;
  width: auto;
}

}
@media only screen and (max-width:800px)
{

.right-panel > p {
  font-size: 14px;
  padding: 7px 0;
  text-transform: none;
}
.inner-footer .lft-con {
  float: left;
  margin-right: 5%;
  width: 45%;
}
.newsletter input[type="text"] {
  width: auto;
}
.newsletter input[type="submit"]{
  width: auto;
  margin-top:10px;
  float:right;}
  .cook-panel {
	  width:42%;
  }
  .sidebar
  {
	  width:auto;
	  float:none;
	 }
.cook-panel-main
  {
	  width:auto;
	  float:none;
	 }
}

@media only screen and (max-width:640px)
{
.three-circles
{
	width:auto;
	float:none;
	padding-bottom:20px;
}
.banner-content {
  top:15%;
}
.banner-content h1 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding-bottom: 10px;
}
.banner-content > p {
  display: none;
}

	.white-box-panel .white-box {
  margin: 2%;
  width: auto;
}
.blog-post h4 {
  color: #9dc92e;
  font-family: "OpenSansRegular";
  font-size: 15px;
}
.blog-post p {
  font-size: 14px;
  line-height: 25px;
}
.blog-panel {
  width: auto;
  clear:both;
  float: none;
  overflow:hidden;
  margin-bottom:15px;
}
.sidebar {
  float: none;
  margin-top: 10px;
   clear:both;
  width: auto;
}
.about h1 {
  font-size: 30px;
}
.search-bar {
  width: 90%;
}
.search-bar input[type="submit"]
{
	font-size:13px;
}
.inner.padding-top {
  overflow: hidden;
  text-align: center;
}
.logo.left
{
	float:none;
}
.buttons.right
{
	float:none;
	}
	.buttons .signup {
float:none;
}
}
@media only screen and (max-width:480px)
{
	.s-icons {
  float: left;
  margin: 0;
  padding: 20px 15px 0 0;
}
.search-bar-box {
  padding: 0px 0;
}
.search input[type="text"] {
  font-size: 17px;
  line-height: 29px;

}
.search-button {

  padding: 1px 0;;
}
.buttons .signup {
  padding: 3px 12px;
}
.search {
  float: left;
  height: 30px;
  margin-right: 1%;
  width: 97%;
  margin-top:7px;
}
.inner-footer .lft-con h2
{
	float:left;}
.inner-footer .lft-con {
  float: none;
  padding-bottom:30px;
  margin-right: 0;
  width: auto;
}
.right-panel {
  float: none;
  width: auto;
}
.left-panel {
  float: none;
  width: auto;
}
.feature > a {
  float: none;
  margin-top: 20px;
  width: auto;
}
	.banner-content {
  top: 27%;
}
	.left-testimonial {
  float: none;
  margin-right: 0;
  width: auto;
}
.banner-content h2 {
  font-size: 14px;
}
.view {
  font-size: 11px;
  margin-top: 6px;
  padding: 2px 20px;
}
.banner-content h1 {
  font-size: 17px;
  padding-bottom:0px;
}
.recipe-panel {
  float: none;
  margin-top: 15px;
  width: auto;
  clear: both;
}
.blog-post {
  float: none;
  margin-bottom: 20px;
  width: auto;
}
 .cook-panel {
	  width:auto;
  }
}
@media only screen and (max-width:360px)
{
		.banner-content {
  top: 5%;
} 
}
/*== media css ends ==*/

